<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onRegister(myForm)" #myForm="ngForm">
    <ion-item class="form-group">
      <ion-label position="floating">Nome</ion-label>
      <ion-input class='form-control' type="nome" name="nome" [(ngModel)]="user.nome" required></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-datetime class='form-control' name="dataNasc" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"
        [(ngModel)]="user.dataNasc"></ion-datetime>
    </ion-item>

    <ion-item class="form-group">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input class='form-control' type="email" name="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>

    <ion-item class="form-group">
      <ion-label position="floating">Senha</ion-label>
      <ion-input class='form-control' type="password" name="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="tertiary">Criar Conta</ion-button>
  </form>
</ion-content>