<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button style="color:#FFFFFF"></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Log</ion-title>
    <ion-buttons slot='end' *ngIf="showProgressBar">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-progress-bar type="indeterminate" *ngIf="showProgressBar"></ion-progress-bar> -->
  <ion-card *ngFor = 'let do_dia of meu_dl; let meu_dl_id = index'>
    <ion-card-header>
      <ion-card-title>{{do_dia.dia}}/{{do_dia.mes}}/{{do_dia.ano}}</ion-card-title>
      <ion-card-subtitle>{{do_dia.dia_semana_nome}}</ion-card-subtitle>
    </ion-card-header>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button style="--background: #537A5A;" translucent="true" (click)='criarNovaEntrada(do_dia, meu_dl_id)'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list>
      <ion-item-sliding *ngFor='let entrada of do_dia.entradas; let entrada_id = index' #slide>
        <ion-item-options side="start">
          <ion-item-option style="background-color: #74A4BC" (click)='atualizaStatusEntrada(1,entrada,entrada_id,meu_dl_id,slide)'>
            <ion-icon name="book" icon-only style="color: #FFFFFF"></ion-icon>
          </ion-item-option>
          <ion-item-option style="background-color: #618E69" (click)='atualizaStatusEntrada(2,entrada,entrada_id,meu_dl_id,slide)'>
            <ion-icon name="checkmark-circle"></ion-icon>
          </ion-item-option>
          <ion-item-option color='warning' (click)='atualizaStatusEntrada(5,entrada,entrada_id,meu_dl_id,slide)'>
            <ion-icon src='assets/icon/irrelevant.svg' icon-only></ion-icon>
          </ion-item-option>
        </ion-item-options>
        
        <ion-item>
          
          <!-- Icone de prioridade -->
          <ion-icon
            *ngIf='entrada.show_icon === undefined || entrada.show_icon' 
            (click)='atualizarPrioridadeEntrada(entrada, entrada_id, meu_dl_id)'
            [src]='get_prioridade_icon(entrada)'
            slot='start'
            size='small'>
          </ion-icon>
          
          <!-- Icone de Tipo de Entrada -->
          <ion-icon 
            (click)='atualizarTipoEntrada(entrada, entrada_id, meu_dl_id)'
            [src]='get_tipo_icon(entrada)'
            slot='start' 
            size='small'
            color='medium'>
          </ion-icon>
          

          <!-- Campos de descricao -->
          
          <!-- Entrada Normal -->
          <ion-input
            *ngIf='entrada.cod_status !== 5 && entrada.cod_status !== 2'
            type='text'
            [(ngModel)]='entrada.descricao'
            (ionBlur)='atualizarEntrada(entrada,entrada_id,meu_dl_id)'>
          </ion-input>
          
          <!-- Entrada Completa -->
          <ion-input
            *ngIf='entrada.cod_status === 2'
            type='text'
            [disabled]='true'
            [(ngModel)]='entrada.descricao'
            (ionBlur)='atualizarEntrada(entrada,entrada_id,meu_dl_id)'>
          </ion-input>

          <!-- Entrada com status Irrelevant -->
          <ion-input
            *ngIf='entrada.cod_status === 5'
            style='text-decoration: line-through;'
            [disabled]=true
            type='text'
            [(ngModel)]='entrada.descricao'
            (ionBlur)='atualizarEntrada(entrada,entrada_id,meu_dl_id)'>
          </ion-input>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option (click)="removerEntrada(entrada,entrada_id,meu_dl_id)" color='danger'>
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>
