<ion-header>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button icon-only (click)='onClose()'>
        <ion-icon name='close'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nova Entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="criarEntrada(myForm)" #myForm="ngForm">
    <ion-item class="form-group">
      <ion-label position="stacked">Data</ion-label>
      <ion-datetime 
        class='form-control' name="data" 
        display-format="DD/MM/YYYY" 
        picker-format="DD MMMM YYYY"
        [(ngModel)]="entrada.data" required></ion-datetime>
    </ion-item>

    <ion-item class="form-group">
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input 
        class='form-control' 
        name="descricao" 
        [(ngModel)]="entrada.descricao" required></ion-input>
    </ion-item>

    <ion-radio-group class='form-group' name="tipo" [(ngModel)]="entrada.tipo" required>
      <ion-list-header>
        <ion-label>Tipo</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Tarefa</ion-label>
        <ion-radio slot="start" value="1" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Evento</ion-label>
        <ion-radio slot="start" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button 
      type="submit" 
      expand="block" 
      color="tertiary" 
      [disabled]="myForm.invalid"
      >Criar Entrada
    </ion-button>
  </form>
</ion-content>
