<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot='end'>
      <ion-button 
        fill="clear" 
        slot="end" e
        xpand='block' 
        icon-only
        (click)='adicionarEntrada()'>
        <ion-icon name='add'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Future Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor='let meses of entradas_ftlog'>
    <ion-card-header>
      <ion-card-title>
          {{meses.data.mes_nome}}, {{meses.data.ano}}
      </ion-card-title>
    </ion-card-header>
    
    <ion-item *ngFor='let entrada of meses.entradas'>
      <ion-icon class='bullet-icon' size='small' name="star"></ion-icon>
      <ion-icon class='bullet-icon' size='small' name="albums"></ion-icon>
      {{entrada.dia}} | {{entrada.descricao}}
    </ion-item>
  </ion-card>
</ion-content>
