<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Future Log</ion-title>
    <ion-buttons slot='end' *ngIf="showProgressBar">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-progress-bar type="indeterminate" *ngIf="showProgressBar"></ion-progress-bar> -->
  <ion-card *ngFor='let mes_atual of meu_fl; let meu_fl_id = index'>
    <ion-card-header>
      <ion-card-title>{{mes_atual.mes_nome}}</ion-card-title>
      <ion-card-subtitle>{{mes_atual.ano}}</ion-card-subtitle>
    </ion-card-header>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="light" translucent="true" (click)='criarNovaEntrada(mes_atual, meu_fl_id)'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list>
      <ion-item-sliding *ngFor='let entrada of mes_atual.entradas; let entrada_id = index' #slide>
        <ion-item-options side="start">
          <ion-item-option color='secondary' (click)='atualizaStatusEntrada(1,entrada,entrada_id,meu_dl_id,slide)'>
            <ion-icon name="book" icon-only></ion-icon>
          </ion-item-option>
          <ion-item-option color='success' (click)='atualizaStatusEntrada(2,entrada,entrada_id,meu_dl_id,slide)'>
            <ion-icon name="checkmark"></ion-icon>
          </ion-item-option>
          <ion-item-option color='warning' (click)='atualizaStatusEntrada(5,entrada,entrada_id,meu_dl_id,slide)'>
            <ion-icon src='assets/icon/irrelevant.svg' icon-only></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <!-- Icone de prioridade -->
          <ion-icon
            *ngIf='entrada.show_icon === undefined || entrada.show_icon' 
            (click)='atualizarPrioridadeEntrada(entrada, entrada_id, meu_fl_id)'
            [src]='get_prioridade_icon(entrada)'
            slot='start'
            size='small'>
          </ion-icon>
          
          <!-- Icone de Tipo de Entrada -->
          <ion-icon 
            (click)='atualizarTipoEntrada(entrada, entrada_id, meu_dl_id)'
            [src]='get_tipo_icon(entrada)'
            slot='start' 
            size='small'
            color='medium'>
          </ion-icon>

          <!-- <ion-label position='stacked'>dia</ion-label> -->
          <ion-input type='text' [(ngModel)]='entrada.descricao'
            (ionBlur)='atualizarEntrada(entrada,entrada_id,meu_fl_id)'>
          </ion-input>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="removerEntrada(entrada,entrada_id,meu_dl_id)" color='danger'>
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

  </ion-card>
</ion-content>