<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{page_month_year.nome_mes}}</ion-title>
    <ion-buttons slot="end">
        <ion-icon name="calendar" (click)='openPicker()' size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-progress-bar type="indeterminate" *ngIf="showProgressBar"></ion-progress-bar>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col size='6'>
          <ion-button
            size='small'
            expand='full'
            shape='round'
            color='tertiary'
            [fill]="selectedPage == 0 ? 'solid' : 'clear'" 
            (click)='goCalendarPage()'>Calendar Page</ion-button>
          </ion-col>
          <ion-col size='6'>
            <ion-button 
            size='small'
            expand='full'
            shape='round'
            color='tertiary'
            [fill]="selectedPage == 1 ? 'solid' : 'clear'" 
            (click)='goTaskPage()'>Task Page</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


      <!-- Calendar Page -->
      <div *ngIf="selectedPage==0">
       <ion-list lines="none">
         <ion-item-sliding *ngFor="let element of entradas_cp let cp_id= index"  class="item_calendarPage">
          <ion-item>
            <ng-container *ngIf="element.entradas==null; else entradasPreenchido">
              <!-- Sem signifier e sem entradas -->
              <ion-button 
                size="small" 
                color="transparent" 
                shape="round"
                class="empty-icon">
              </ion-button>
            </ng-container>
            <ng-template #entradasPreenchido>
              <ng-container *ngIf="element.entradas[0].cod_prioridade==1; else signifierExiste">
              <!-- Tem entrada mas sem signifier -->
                <ion-button 
                  size="small" 
                  color="transparent" 
                  shape="round"
                  (click)='changeSignCP(cp_id)'
                  class="empty-icon">
                </ion-button>
              </ng-container>
              <ng-template #signifierExiste>
                <ng-container *ngIf="element.entradas[0].cod_prioridade==2; else signifierCriativo">
                  <!-- Tem signifier estrelinha -->
                  <ion-icon 
                    style= 'color: goldenrod'
                    size= "small" 
                    class= "bullet-icon"
                    name= "star"
                    (click)='changeSignCP(cp_id)'>
                  </ion-icon>
                </ng-container>
                <ng-template #signifierCriativo>
                  <!-- Tem signifier exclamação -->
                  <ion-icon 
                    style= 'color: rgb(212, 86, 86)'
                    size= "small" 
                    class= "bullet-icon"
                    name= "alert"
                    (click)='changeSignCP(cp_id)'>
                  </ion-icon>
                </ng-template> 
              </ng-template>
            </ng-template>

              <div class="dia">
                {{element.dia}}
              </div> 
              <div class="dia_semana">
                {{element.dia_semana_nome[0]}}
              </div>
              <div *ngIf="element.entradas!=null">
                <ion-input type="text" [(ngModel)]="element.entradas[0].descricao" size=35 (ionBlur)= "atualizaDescricaoCP(element.entradas[0])"></ion-input>
              </div>
            </ion-item>
            <ion-item-options side="end">
                  <ng-container *ngIf="element.entradas==null; else existeEntrada">
                      <ion-item-option  color='success' (click)="criarEntradaCP(cp_id)">
                          <ion-icon name="add-circle" ></ion-icon>
                      </ion-item-option>
                  </ng-container>
                  <ng-template #existeEntrada>
                      <ion-item-option  color='danger' (click)="deletarEntradaCP(cp_id)">
                          <ion-icon name="trash"></ion-icon>
                      </ion-item-option>
                  </ng-template>
            </ion-item-options>
        </ion-item-sliding>
       </ion-list>
      </div>



      
      <!-- Task Page -->
      <div *ngIf="selectedPage==1">
        <ion-list lines="none">
          <ion-item-sliding *ngFor="let entrada of entradas_tp; let tp_id = index">
            <ion-item>
              <ng-container *ngIf="entrada.signifierId!=2; else elseContent">
                <ion-icon 
                  [style.color]='getIconColor(entrada.signifierId)'
                  size="small" 
                  class="bullet-icon"
                  [name]='getIconName(entrada.signifierId)'
                  (click)='changeSign(entrada)'>
                </ion-icon>
              </ng-container>
              <ng-template #elseContent>
                <ion-button 
                size="small" 
                color="transparent" 
                shape="round"
                (click)='changeSign(entrada)'
                class="empty-icon">
                </ion-button>
              </ng-template>
              <ion-img 
              [src]='getBulletSrc(tp_id)'
              class="bullet-img">
              </ion-img>
              <ng-container *ngIf="entrada.irrelevant; else TaskRelevant">
                <s>{{ entrada.name }}</s>
              </ng-container>
              <ng-template #TaskRelevant>
                <ng-container *ngIf="entrada.complete; else TaskIncomplete">
                  {{entrada.name}}
                </ng-container>
                <ng-template #TaskIncomplete>
                    <div>
                      <ion-input type="text" [(ngModel)]="entrada.name" size=35 (ionBlur)= "atualizaDescricao(entrada)"></ion-input>
                    </div>
                </ng-template>
              </ng-template>
              <!-- <ion-icon size="small" class="nested" name="radio-button-on" ></ion-icon>
              {{ entrada.nested}} -->
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="removerTarefa(tp_id)" color='danger'>
                  <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="start">
                <ion-item-option color='success' (click)="changeStatusTask(tp_id)">
                  <ion-icon name="checkmark-circle"></ion-icon>
                  <!-- Finalizada -->
                </ion-item-option>
                <ion-item-option color='medium' (click)="changeIrrelevantTask(tp_id)">
                    <ion-icon name="archive"></ion-icon>
                    <!-- Irrelevante -->
                </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <!-- <ion-footer no-border> -->
            <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="criarNovaEntradaTaskPage()">
                <ion-fab-button>
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        <!-- </ion-footer> -->
      </div>
</ion-content>



