ion-slides{
    height: 90%
}

.empty-icon{
    margin-right:8px;
    --box-shadow: none
}

.bullet-img{
    margin-right:10px;
    width: 15px;
    height: 15px
}

.dia{
    margin-left: 2%;
    margin-right: 3%
}

.dia_semana{
    margin-right: 5%;
}

.text-buttom{
    color: #FFFFFF;
}

