ion-slides{
    height: 90%
}

.empty-icon{
    margin-right:8px;
    --box-shadow: none
}

.bullet-img{
    margin-right:10px;
    width: 15px;
    height: 15px
}

.dia{
    margin-left: 2%;
    margin-right: 2%
}

.dia_semana{
    margin-right: 2%;
}

.item_calendarPage{
    padding: 0%;
    font-size: 5;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 0%;
 }