ion-slides{
    height: 90%
}

.position-list{
    margin-top: 90%;
    margin-left: 20%
}

.empty-icon{
    margin-right:8px;
    --box-shadow: none
}

.bullet-img{
    margin-right:10px;
    width: 15px;
    height: 15px
}

.dia{
    margin-left: 5%;
    margin-right: 5%
}

.dia_semana{
    margin-right: 5%;
}