// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@font-face {
  font-family: 'Patrick';
  src: url('./assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf');
} 
@font-face {
  font-family: 'Gochi';
  src: url('./assets/fonts/Gochi_Hand/GochiHand-Regular.ttf');
} 
@font-face {
  font-family: 'Just Another';
  src: url('./assets/fonts/Just_Another_Hand/JustAnotherHand-Regular.ttf');
} 
@font-face {
  font-family: 'Cookie';
  src: url('./assets/fonts/Cookie/Cookie-Regular.ttf');
}   
@font-face {
  font-family: 'Satisfy';
  src: url('./assets/fonts/Satisfy/Satisfy-Regular.ttf');
} 
  

.bullet-icon{
    margin-right: 10px
}

.nested{
    margin-left: 15px;
    margin-right: 10px
}

:root{
    --ion-color-pink: #e81158;
    --ion-color-pink-rgb: 232,17,88;
    --ion-color-pink-contrast:#ffffff;
    --ion-color-pink-contrast-rgb: 255,255,255;
    --ion-color-pink-shade: #cc0f4d;
    --ion-color-pink-tint: #ea2969;

    // --ion-font-family: 'Satisfy';
    // --ion-font-family: 'Indie Flower', cursive;
    // --ion-font-family: 'Marck Script', cursive;
    // --ion-font-family: 'Short Stack', cursive;
    --ion-font-family: 'The Girl Next Door', cursive;
}

.ion-color-pink {
    --ion-color-base: var(--ion-color-pink) !important;
    --ion-color-base-rgb: var(--ion-color-pink-rgb) !important;
    --ion-color-contrast: var(--ion-color-pink-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-pink-shade) !important;
    --ion-color-tint: var(--ion-color-pink-tint) !important;
}

ion-card{
  --ion-background-color: rgb(245, 225, 195);
}

ion-card-header{
  background-color: rgb(245, 225, 195);
}

ion-toolbar{
  --background: #383B53;
  --color: rgb(255, 255, 255);
}

